.containerImageAnime {
	display: flex;
	padding: 10px 20px 0 20px;
	flex-wrap: wrap;
	justify-content: center;
	background: #ffffff;
	gap: 5px;
	background: #00000000;
}

.ImageAnime {
	width: 180px;
	height: 280px;
	border-radius: 15px;
}
.img {
	width: 180px;
	height: 280px;
	border-radius: 15px;
}
